@using LunchApp.Client.Services
@inject TokenStorageService TokenStorage

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Shared.MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(Shared.MainLayout)">
                <h4>Sorry, that page doesn't exist.</h4>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    protected override async Task OnInitializedAsync()
    {
        // Also clear token in C# just to be sure
        await TokenStorage.RemoveTokenAsync();
    }
}
