@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<div class="p-5 mb-4 bg-light rounded-3 text-center hero">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold mb-3">Welcome to LunchApp</h1>
        <p class="fs-5 mb-4">Manage your lunch orders with ease.</p>
        <AuthorizeView>
            <Authorized>
                <a class="btn btn-success btn-lg mx-2" href="/menu">View Menu</a>
                <a class="btn btn-primary btn-lg mx-2" href="/order">Place Order</a>
            </Authorized>
            <NotAuthorized>
                <a class="btn btn-primary btn-lg mx-2" href="/login">Login</a>
                <a class="btn btn-secondary btn-lg mx-2" href="/register">Register</a>
            </NotAuthorized>
        </AuthorizeView>
</div>
</div>

<div class="container my-5">
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <h4>Browse Today's Menu</h4>
            <p>See what's cooking and choose from a variety of dishes.</p>
        </div>
        <div class="col-md-4 mb-4">
            <h4>Quick Ordering</h4>
            <p>Select your preferred pickup time and place your order in seconds.</p>
        </div>
        <div class="col-md-4 mb-4">
            <h4>Manage Your Account</h4>
            <p>Log in to track your orders and update your details.</p>
        </div>
    </div>
</div>
