@page "/login"
@inject AuthService AuthService
@inject NavigationManager Nav

<EditForm class="card p-4 mx-auto" style="max-width: 400px;" Model="loginModel" OnValidSubmit="HandleLogin">
    <h3 class="text-center mb-3">Login</h3>
    <div class="mb-3">
        <InputText class="form-control" @bind-Value="loginModel.Email" placeholder="Email" />
    </div>
    <div class="mb-3">
        <InputText class="form-control" @bind-Value="loginModel.Password" type="password" placeholder="Password" />
    </div>
    <button class="btn btn-primary w-100" type="submit">Login</button>
</EditForm>
@if (!string.IsNullOrEmpty(error))
{
    <p style="color:red">@error</p>
}

@code {
    LoginDto loginModel = new();
    string error;
    async Task HandleLogin()
    {
        error = string.Empty;
        var success = await AuthService.Login(loginModel);
        if (success) Nav.NavigateTo("/menu");
        else error = "Login failed";
    }
}
