@page "/login"
@inject AuthService AuthService
@inject NavigationManager Nav

<EditForm class="form-container" Model="loginModel" OnValidSubmit="HandleLogin">
    <h3>Login</h3>
    <InputText class="form-field" @bind-Value="loginModel.Email" placeholder="Email" />
    <InputText class="form-field" @bind-Value="loginModel.Password" type="password" placeholder="Password" />
    <button class="submit-btn" type="submit">Login</button>
</EditForm>
@if (!string.IsNullOrEmpty(error))
{
    <p style="color:red">@error</p>
}

@code {
    LoginDto loginModel = new();
    string error;
    async Task HandleLogin()
    {
        error = string.Empty;
        var success = await AuthService.Login(loginModel);
        if (success) Nav.NavigateTo("/menu");
        else error = "Login failed";
    }
}
