/* Layout styles for index page */
html, body {
    height: 100%;
    margin: 0;
}

#index-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

#app {
    text-align: center;
}
