<nav>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/menu">Menu</NavLink></li>
        <li><NavLink href="/order">Order</NavLink></li>
        <li><NavLink href="/login">Login</NavLink></li>
        <li><NavLink href="/register">Register</NavLink></li>
    </ul>
</nav>