@namespace LunchApp.Client.Shared
@inject LunchApp.Client.Services.AuthService AuthService
@inject NavigationManager Nav

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <AuthorizeView>
        <Authorized>
            <li class="nav-item">
                <NavLink class="nav-link" href="/home">Home</NavLink>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-danger btn-sm"
                        @onclick="OnLogoutClicked">
                    Logout
                </button>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="nav-item">
                <NavLink class="nav-link" href="/login">Login</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/register">Register</NavLink>
            </li>
        </NotAuthorized>
    </AuthorizeView>
</ul>

@code {
    private async Task OnLogoutClicked()
    {
        await AuthService.Logout();
        Nav.NavigateTo("/login");
    }
}
