@inject AuthService Auth

<nav>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/menu">Menu</NavLink></li>
        <li><NavLink href="/order">Order</NavLink></li>
        <AuthorizeView>
            <Authorized>
                <li><button @onclick="Logout">Logout</button></li>
            </Authorized>
            <NotAuthorized>
                <li><NavLink href="/login">Login</NavLink></li>
                <li><NavLink href="/register">Register</NavLink></li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</nav>

@code {
    private async Task Logout()
    {
        await Auth.Logout();
    }
}
