@namespace LunchApp.Client.Shared
@inject AuthService AuthService
@inject HttpClient Http
@inject NavigationManager Nav

<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  <AuthorizeView>
    <Authorized>
      <li class="nav-item me-3">
        <NavLink class="nav-link" href="/menu" Match="NavLinkMatch.All">Menu</NavLink>
      </li>
      <li class="nav-item me-3">
        <NavLink class="nav-link" href="/order">Order</NavLink>
      </li>
      <li class="nav-item">
        <button 
          type="button" 
          class="btn btn-outline-danger nav-link px-3"
          @onclick="OnLogoutClicked">
          Logout
        </button>
      </li>
    </Authorized>
    <NotAuthorized>
      <li class="nav-item me-3">
        <NavLink class="nav-link" href="/login">Login</NavLink>
      </li>
      <li class="nav-item">
        <NavLink class="nav-link" href="/register">Register</NavLink>
      </li>
    </NotAuthorized>
  </AuthorizeView>
</ul>

@code {
  private async Task OnLogoutClicked()
  {
    await AuthService.Logout();
    Http.DefaultRequestHeaders.Authorization = null;
    Nav.NavigateTo("/login", forceLoad: true);
  }
}
